{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Watchlist</h1>

    {% if watchlist %}

        {% for wl in watchlist %}

            <div class = "container jumbotron">
                <h2><a href="{% url 'listing' wl.listing.id %}">{{wl.listing.title}}</a></h2>
                {% if wl.listing.img_url %}
                    <img src="{{wl.listing.img_url}}" alt="" style = "width: 30vw">
                {% endif %}
                <div style = "display: inline-block;">
                    Listed by: <p style = "font-weight:bolder">{{wl.listing.user}}</p>
                    Description: <p>{{wl.listing.description}}</p>
                    {% if wl.listing.category %}
                        Category: <p style = "color: darkgray">{{wl.listing.category}}</p>
                    {% endif %}
                </div>
            </div>

        {% endfor %}
        {% else %}
            <center>
                <h2>Such empty x_x</h2>
            </center>
    {% endif %}
{% endblock %}